<html>
  <head>
    <style>
      .title {
        text-align: center;
        margin-bottom: 10px;
        font-family: "Suruma", "Times New Roman";
      }
      .propus-dataset-item {
        margin-top: 3px;
        margin-bottom: 3px;
      }
      .cell {
        display: inline-block;
        margin-left: 1px;
        margin-right: 2px;
        font-size: 8px;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Customer Requests</h1>
    <div class="propus-dataset-item">
      <div class="cell">{{[requestId]}}</div>
      <div class="cell">{{[reason]}}</div>
    </div>
  </body>
</html>
